/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif; 
*/

/*
Orden de generacion de estilos
1. Posicionamiento
2. Modelo de caja
3. Tipografia y fuentes
4. Visuales
5. Miscelaneos u otros
*/

/*Variables reutilizables*/
:root {
  /*Colores*/
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --black: #201e1c;
  --warm-black: #282623;
  --gray: #bababa;
  --off-white: #faf8f7;
  --white: #ffffff;
}

/*Estilos globales*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Estilos de fuente y rem global*/
html {
  font-size: 62.5%; /*hace que el fontsize base sea 10px para el uso de rem*/
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center; /*Es la forma de alinear un elemento cuyo padre tenga display flex*/
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 36px;
  text-align: center;
  align-self: center;
}

.header--title-container h1 {
  font-weight: bold;
  font-size: 2.4rem;
  color: var(--white);
  line-height: 2.6rem;
  margin-bottom: 2.4rem;
}

.header--title-container p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header--title-container .header--button {
  position: absolute;
  top: calc(100% - 6.1rem);
  left: calc(50% - 114.5px);
  display: block;
  margin-top: 3.2rem;
  padding: 1.5rem 1.6rem;
  width: 229px;
  height: 48px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
}

.header--button span {
  display: inline-block;
  width: 1.3rem;
  height: 0.8rem;
  margin-left: 1rem;
  background-image: url("./assets/icons/downArrow.svg");
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 55px;
  text-align: center;
}

.main-exchange-container .backgroundImg {
  width: 195px;
  height: 195px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: url(./assets/img/bitcoin.svg) center/cover no-repeat;
}

.main-exchange-container__title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange-container__title h2 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--black);
  margin-bottom: 24px;
}

.main-exchange-container__title p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #757575;
  margin-bottom: 24px;
}

.main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 240px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.main-currency-table__title {
  width: 70%;
  min-width: 173px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
}

.main-currency-table-container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 160px;
  margin: 0 auto;
}

.main-currency-table-container table {
  width: 100%;
  height: 100%;
}

.main-currency-table-container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--gray);
  background-color: var(--white);
}

.main-currency-table__date {
  width: 70%;
  min-width: 173px;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
  margin: 0 auto;
}

.main-currency-table__date p {
  font-size: 12px;
  line-height: 15px;
  color: var(--warm-black);
}
