/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif; 
*/

/*
Orden de generacion de estilos
1. Posicionamiento
2. Modelo de caja
3. Tipografia y fuentes
4. Visuales
5. Miscelaneos u otros
*/

/*Variables reutilizables*/
:root {
  /*Colores*/
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --black: #201e1c;
  --warm-black: #282623;
  --gray: #bababa;
  --off-white: #faf8f7;
  --white: #ffffff;
}

/*Estilos globales*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Estilos de fuente y rem global*/
html {
  font-size: 62.5%; /*hace que el fontsize base sea 10px para el uso de rem*/
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center; /*Es la forma de alinear un elemento cuyo padre tenga display flex*/
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 36px;
  text-align: center;
  align-self: center;
}

.header--title-container h1 {
  font-weight: bold;
  font-size: 2.4rem;
  color: var(--white);
  line-height: 2.6rem;
  margin-bottom: 2.4rem;
}

.header--title-container p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header--title-container .header--button {
  position: absolute;
  top: calc(100% - 6.1rem);
  left: calc(50% - 114.5px);
  display: block;
  margin-top: 3.2rem;
  padding: 1.5rem 1.6rem;
  width: 229px;
  height: 48px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
}

.header--button span {
  display: inline-block;
  width: 1.3rem;
  height: 0.8rem;
  margin-left: 1rem;
  background-image: url("./assets/icons/downArrow.svg");
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 55px;
  text-align: center;
}

.main-exchange-container .backgroundImg {
  width: 195px;
  height: 195px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: url(./assets/img/bitcoin.svg) center/cover no-repeat;
}

.main-exchange-container__title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange-container__title h2 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--black);
  margin-bottom: 24px;
}

.main-exchange-container__title p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #757575;
  margin-bottom: 24px;
}

.main-currency-table,
.main-comission-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 280px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.main-currency-table__title,
.main-comission-table__title {
  width: 70%;
  min-width: 173px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
}

.main-comission-table__title {
  color: var(--secondary-blue);
}

.main-currency-table-container,
.main-comission-table-container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 160px;
  margin: 0 auto;
}

.main-currency-table-container table,
.main-comission-table-container table {
  width: 100%;
  height: 100%;
}

.main-currency-table-container td,
.main-comission-table-container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--gray);
  background-color: var(--white);
}

.main-currency-table-container .table--top-left,
.main-comission-table-container .table--top-left {
  border-radius: 15px 0 0 0;
}
.main-currency-table-container .table--top-right,
.main-comission-table-container .table--top-right {
  border-radius: 0 15px 0 0;
}
.main-currency-table-container .table--bottom-left,
.main-comission-table-container .table--bottom-left {
  border-radius: 0 0 0 15px;
}
.main-currency-table-container .table--bottom-right,
.main-comission-table-container .table--bottom-right {
  border-radius: 0 0 15px 0;
}

.main-currency-table-container .table--rigth,
.main-comission-table-container .table--rigth {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}

.main-currency-table-container .down,
.main-currency-table-container .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background: url("./assets/icons/downVector.svg") center/cover no-repeat;
}
.main-currency-table-container .up {
  background: url("./assets/icons/upVector.svg") center/cover no-repeat;
}

.main-currency-table__date,
.main-comission-table__date {
  width: 70%;
  min-width: 173px;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 15px;
}

.main-comission-table__date {
  background-color: var(--soft-blue);
}

.main-currency-table__date p,
.main-comission-table__date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}

/* Estilos de seccion de beneficios */

.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 16px;
  background-color: var(--black);
}

.product-detail__batata-logo {
  width: 40px;
  height: 25px;
  background: url("./assets/img/batata.svg") center/cover no-repeat;
  position: absolute;
  top: calc(0% - 12.5px);
  left: calc(50% - 20px);
}

.product-detail__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 50px auto 0;
  text-align: center;
}

.product-detail__title h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-bottom: 20px;
  color: var(--white);
}

.product-detail__title p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 32px;
  color: #808080;
}

.product-detail__card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--warm-black);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.product-card__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: center/cover no-repeat;
}
.clock {
  background-image: url("./assets/icons/clock1.svg");
}
.ojo {
  background-image: url("./assets/icons/eye1.svg");
}
.dolar {
  background-image: url("./assets/icons/dollar1.svg");
}
.check {
  background-image: url("./assets/icons/checkCircle1.svg");
}

.product-card__title {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: bold;
  margin: 10px 0;
  color: var(--white);
}

.product-card__body {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
}

.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background: url("./assets/img/bitcoinbaby2x.png") center/cover no-repeat;
}

.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: var(--white);
  text-align: center;
}

.main-plans-container {
  background-color: #e5e5e5;
  width: 100%;
  min-width: 320px;
  padding: 65px 0;
  text-align: center;
}

.plans__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto 50px;
}

.plans__title h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.plans__title p {
  padding-top: 24px;
  color: #757575;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.plans-container__slider {
}

.plans-container__card {
  position: relative;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 50px auto 0;
  padding: 0 15px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 8px;
}

.plans-container__card .recomendado {
  position: absolute;
  left: calc(50% - 50px);
  top: calc(0% - 15px);
  width: 100px;
  padding: 8px;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5rem;
  font-family: "Inter", sans-serif;
  background-color: var(--bitcoin-orange);
  color: var(--white);
  border-radius: 8px;
}

.plan-card__title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
}

.plan-card__price {
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 6.3rem;
}

.plan-card__price span {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #363636;
  vertical-align: 26px;
}

.plan-card__saving {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: "Inter", sans-serif;
  color: #757575;
}
